:root{

    --primary:#2563EB;
    --secondary:#0F172A;

    --success:#22C55E;
    --warning:#F59E0B;
    --danger:#EF4444;

    --background:#F8FAFC;
    --surface:#FFFFFF;

    --text:#0F172A;
    --text-light:#64748B;

    --border:#E2E8F0;

    --radius:16px;

}