.ecg-wave-container{

    width:100%;
    height:100%;

    overflow:hidden;

    position:relative;
}

.ecg-svg{

    width:200%;
    height:100%;

    animation: scrollECG 6s linear infinite;
}

.ecg-line{

    fill:none;

    stroke:#34D399;

    stroke-width:3;

    stroke-linecap:round;

    stroke-linejoin:round;

    filter:
        drop-shadow(0 0 1px rgba(52,211,153,.95))
        drop-shadow(0 0 4px rgba(52,211,153,.45));
}

@keyframes scrollECG{

    from{

        transform:translateX(0);

    }

    to{

        transform:translateX(-50%);
    }

}